<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Membros da Empresa</title>
    </head>

    <body>
        
        <main id="app">
            
            <h1>
                Membros da Empresa
            </h1>

            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>sectoro</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="member in members">
                    <td>{{member.fname}}</td>
                    <td>{{member.lname}}</td>
                    <td>{{member.sector}}</td>
                </tr>
                </tbody>
            </table>

            <section class="add-more">
                <p>Adicionar membros</p>
                <form>
                
                <label for="fname">Nome:</label><br>
                <input type="text" id="fname" name="fname" v-model="newMember.fname"><br>
                
                <label for="lname">Sobrenome:</label><br>
                <input type="text" id="lname" name="lname" v-model="newMember.lname"><br>

                <label for="sector">sectoro:</label><br>
                <select name="sector" id="sector" v-model="newMember.sector">
                    <option value="Suporte">Suporte</option>
                    <option value="Front-end">Front-end</option>
                    <option value="Back-end">Back-end</option>
                    <option value="Administrativo">Administrativo</option>
                    <option value="Comercial">Comercial</option>

                    </select>
                    <br><br>
                <input type="button" value="Adicionar" v-on:click="addMember">
                </form> 
            </section>

        </main>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="scripts.js"></script>
    </body>

</html>